<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="calltoaction">
        <a href="mailto:nicholas@sollazzo.one?subject=Richiesta vendita appunti">
          <span>Hai scritto anche tu degli appunti di qualità?</span><br>
          Scrivici ora all'indirizzo <span>nicholas@sollazzo.one</span>
        </a>
      </div>
    </div>
  </div>
</footer>
